body, html {
  height: 100%;
  margin: 0;
}
.container{
  width: 100%;
}
.bg {
  background-image: url("/img/background.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  margin-top: 20px!important;
}
.tadilat{
  width: 35% !important;
}
.instagram{
  width: 18% !important;
  margin-top: 4%;
}
.footer1{
  width: 25% !important;
  margin-top: 25%;
  text-align: center;
  align-items: center;
}
.play-pause{
  width: 5%;
  margin-top: 5%;
}
@media screen and (min-width: 1400px){
  .logo{
    margin-top: 20px!important;
  }
  .tadilat{
    width: 30% !important;
  }
  .instagram{
    width: 20% !important;
    margin-top: 3%;
  }
  .footer1{
    width: 25% !important;
    margin-top: 20%;
    text-align: center;
    align-items: center;
  }

}
@media screen and (max-width: 1200px){
  .logo{
    margin-top: 20px!important;
  }
  .tadilat{
    width: 35% !important;
    margin-top: 5%;
  }
  .instagram{
    width: 20% !important;
    margin-top: 3%;
  }
  .footer1{
    width: 30% !important;
    margin-top: 30%;
    text-align: center;
    align-items: center;
  }
  #icon{
    width: 5%;
  }
}
@media screen and (max-width: 992px){
  .logo{
    margin-top: 20px!important;
  }
  .tadilat{
    width: 55% !important;
    margin-top: 7%;
  }
  .instagram{
    width: 30% !important;
    margin-top: 15%;
  }
  .footer1{
    width: 45% !important;
    margin-top: 30%;
    text-align: center;
    align-items: center;
  }
  #icon{
    width: 7%;
  }

}
@media screen and (max-width: 768px){
  .logo{
    margin-top: 20px!important;
  }
  .tadilat{
    width: 50% !important;
    margin-top: 7%;
  }
  .instagram{
    width: 35% !important;
    margin-top: 11%;
  }
  .footer1{
    width: 45% !important;
    margin-top: 60%;
    text-align: center;
    align-items: center;
  }
  #icon{
    width: 10%;
  }

}
@media screen and (max-width: 573px){
  .logo{
    margin-top: 20px!important;
    width: 15%;
  }
  #logo{
    width: 15%;
  }
  .tadilat{
    width: 50% !important;
    margin-top: 7%;
  }
  .instagram{
    width: 35% !important;
    margin-top: 11%;
  }
  .footer1{
    width: 45% !important;
    margin-top: 60%;
    text-align: center;
    align-items: center;
  }
  #icon{
    width: 10%;
  }

}
  
