body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("/img/background.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  margin-top: 20px!important;
}
.tadilat{
  width: 60% !important;
}